<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AgendaService.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>AgendaServiceMocks.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>CalendarService.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>CalendarServiceMocks.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>SuperCoolProject.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TestRunner.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>WeatherService.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E182F76724AD1ED7001E8A9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E182F77D24AD1ED8001E8A9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E182F78824AD1ED8001E8A9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E182F7A424ADC9A1001E8A9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E182F7AC24ADC9A1001E8A9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E182F7E824ADCF50001E8A9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E182F7F024ADCF50001E8A9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E182F80D24ADD055001E8A9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E182F81524ADD055001E8A9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E182F85D24AE645A001E8A9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E182F87224AE6729001E8A9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
